# Custom files for dev purposes
backend.log
frontend.log
Makefile

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
StudyBuddy/src/main/resources/application.properties
Frontend/.env.*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### NPM Projects ##
node_modules/
package-lock.json

### Firebase ###
**/serviceAccountKey.json

### Environment Variables ###
.env
Frontend/.env
studybuddy-8b52d-firebase-adminsdk-fbsvc-97f384833c.json
*firebase-adminsdk*.json

### Local Uploads ###
StudyBuddy/uploads/