name: TEST BUILD RUN

on: [push, pull_request]

jobs:
  test_build_run:
    runs-on: ubuntu-latest

    steps:
    # Step 0. Get the repository code
    - uses: actions/checkout@v4

    # Step 1. Setup Java Environment with JDK 21
    - name: Java Setup
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    # Step 2. Run the unit tests
    - name: Unit Tests
      run: |
        cd ./StudyBuddy
        chmod +x mvnw
        ./mvnw test

    # Step 3. Build the Docker Image
    - name: Docker Build
      run: docker build -t app .

    # --- !!! Push to DockerHub ONLY if it's working!1!1!

    # Step 4. Login to Docker Hub
    - name: Login to Docker Hub
      if: github.ref == 'refs/heads/deployment'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    # Step 5. Push to (Vaughn's) Docker Hub
    - name: Push to Docker Hub
      if: github.ref == 'refs/heads/deployment'
      uses: docker/build-push-action@v5
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        context: .
        push: true
        tags: |
          tenaciousvirtue/studybuddy:latest
          tenaciousvirtue/studybuddy:${{ vars.VERSION }}
